<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permission to read external storage -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Recipeez"
        tools:targetApi="31">
        <activity
            android:name=".view.activities.StepsFragment"
            android:exported="false" />
        <activity
            android:name=".view.activities.IngredientsFragment"
            android:exported="false" />
        <activity
            android:name=".view.activities.RecipieScreen"
            android:exported="false" />
        <activity
            android:name=".view.activities.Addrecipie"
            android:exported="false" />
        <activity
            android:name=".view.activities.QuestionnaireScreen"
            android:exported="false" />
        <activity
            android:name=".view.activities.AllergyScreen"
            android:exported="false" />
        <activity
            android:name=".view.activities.VegScreen"
            android:exported="false" />
        <activity
            android:name=".view.activities.UserAccountScreen"
            android:exported="true" />
        <activity
            android:name=".view.activities.HomeScreen"
            android:exported="true" />
        <activity
            android:name=".view.activities.LoginScreen"
            android:exported="true" />
        <activity
            android:name=".view.activities.RegisterAccount"
            android:exported="true" />
        <activity
            android:name=".view.activities.WelcomeScreen"
            android:exported="true" />
        <activity
            android:name=".view.activities.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>